* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.menu-head{
    text-align: center;
    background: linear-gradient(35deg, #290ca7, rgb(94, 94, 177),#0019fa54);
    color: #eee;   
    height: 30px;
    
}
.menu-head h6{
    font-size: 18px;
    line-height: 30px;
}
.container-fluid{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-body{
    display: flex;
}
.menu-body ul{
    display: flex;
    margin: 0;
}
.menu-body li{list-style: none;padding: 8.5px 8px 9.5px;}
.menu-body li a{
    text-decoration: none;
    color: #000;
}
.seach{
    display: flex;
    align-items: center;
    padding: 8.5px 8px 9.5px;
}
.btn-seach{
    border: 1px solid white;
    background-color: white;
}
.icon-seach{
    font-size: 20px;
}
.menu-logo{
    display: flex;
    flex-direction: column;
}
.img-1{
    width: 75px;
    height: 75px;
}
.img-2{
    width: 93px;
}
.btn-ac{
    padding: 8.5px 28px 9.5px;
    border: 1px solid #290ca7;
    border-radius: 5px;
    background-color: white;
}
